@model List<ASP_MVC_SQL.Models.ClienteModel> 
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button type="button" id="">Incluir</button>


@foreach (var item in Model)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Clientes</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Nome</td>

            </tr>

            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Nome</td>

            </tr>

            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Nome</td>

            </tr>




        </tbody>
    </table>
}


